aside {
    height: 100vh;
    overflow: auto;
    padding-top: 60px;
    > nav {
        a {
            display: flex;
            align-items: center;
            color: var(--blanco);
            padding: 10px 10px;
            border-radius: 3px;
            &:hover {
                background: var(--input-hover);
            }
        }
    }
    .perfil {
        img {
            width: 30px;
            height: 30px;
            border-radius: 100px;
            margin-right: 10px;
        }
    }
    .icono {
        margin-right: 20px;
        svg {
            height: 20px;
            width: 20px;
        }
    }

    footer {
        margin: 40px 0;
        nav {
            a {
                font-size: 14px;
                margin-right: 7px;
                color: var(--gris-claro);
                &:hover {
                    text-decoration: underline;
                    color: var(--gris-claro);
                }
            }
        }
    }
}